
*{
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.container1 {
  display: flex;
}

.left {
  width: 55vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.right {
  width: 45vw;
  height: 75vh;
}

.nav {
  width: 100%;
  height: 20%;
  display: flex;
}


.leftcontent {
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}


#logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img{
  width:160px;
  height:50px;
}

#buttons {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}

.sbutton {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.lbutton:hover {
  color: rgb(255, 136, 0);
}

.sbutton:hover {
  background-color: rgb(255, 136, 0);
  color: black;
}

#inputbox {
  display: flex;
}

input[type="text"] {
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(255, 136, 0);
}

input[type="button"] {
  padding: 20px;
  width: 150px;
  background-color: rgb(255, 136, 0);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 40px;
}

#para1 {
  font-size: 25px;
  margin-top: 5px;
}

#para2 {
  color: gray;
  margin-top: 40px;
}

#para3 {
  font-size: 18px;
  color: rgb(71, 69, 69);
  font-weight: lighter;
  margin: 0;
}

.container2 {
  height: 50vh;
  background-color: rgb(41, 20, 7);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container3 {
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#grid2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
}

#grid2 p {
  font-size: 20px;
  color: grey;
}

.storebuttons img {
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

#grid3 {
  display: grid;
  grid-template-columns: auto auto;
}

#img1 img{
  display: grid;
  justify-content: center;
  height:100%;
  width:100%;
}

#img2 img{
  display: grid;
  align-items: end;
  height:100%;
  width:100%;
}

.container4 {
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.947);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#left {
  display: grid;
  align-items: center;
}

#left img {
  filter: grayscale(100%);
  margin-left: 50px;
}

#center {
  display: grid;
  align-items: center;
  justify-content: center;
  color: grey;
}

#right {
  display: flex;
  color: grey;
  justify-content: end;
  align-items: center;
}

#right i {
  margin-right: 50px;
  size: 20px;
}

@media screen and (max-width:600px)
{
  .container1
  {
    display: block;
    width: 100%;
  }

  .left{
    width: 100%;
    height: 100%;
  }

  .leftcontent
  {
    margin: 20px;
  }

  .nav{
    height: 20%;
  }

  #logo
  {
    justify-content: flex-start;
    margin-left: 20px;
  }

  #logo img{
    width: 120px;
    height: 40px;
  }

  .sbutton
  {
    margin-right: 20px;
  }

  .right
  {
    width: 100%;
    height: 100%;
  }
  
  .grid
  {
    align-items: start;
  }

  .grid p {
    margin: 0;
    font-size: smaller;
  }

  .container3
  {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #grid2
  {
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 1px solid black;
  }

  .container4
  {
    height: 5vh;
  }
  #left img
  {
    width:100px;
    height: 30px;
    margin-left: 20px;
  }

  #center p
  {
    font-size: x-small;
  }

  #right i
  {
    margin-right: 20px;
  }


}